.container {
    width: 90%;
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.forecastsMain {
    background-color: white;
    border-radius: .5rem;
    border: 1px solid gray;
    padding: 1rem;
    margin-top: 2rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.locationMain {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.locationTab{
    width: 200px;
}
.selectArea {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.selectArea>select {
    padding: .5rem .25rem;
}
.cardMain{
    transition: .2s all ease-out;
}
.cardMain:hover{
    cursor: pointer;
    background-color: rgba(237, 237, 237, .6);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 5px, rgba(0, 0, 0, 0.3) 0px 2px 4px;
}
.d-none{
    display: none;
}